* {
    margin: 0px;
    padding: 0px;
}

header h1 {
    font: bold 20px verdana, sans-serif;
    float: rigth ;
    color: #4A4A4A;
  
}

h2 {
    font: bold 16px verdana, sans-serif;
    font-size: 150%
}

header, section, footer, aside, nav, article {
    display: block;
}

body {
    text-align: center;
}

#contenedor {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

#cabecera {
    
    border-bottom: 2px solid #999999;
    padding: 20px;
}
#menu {
    
    padding: 5px 15px;
}

#menu li {
    display: inline-block;
    list-style: none;
    padding-left: 15px;
    margin: 10px;
    color: #B0B0B0;
    font-size: 20px
}

#seccion {
    float: left;
    padding: 10px;
    
   
}

#columna {
   float: left;
    width: 220px;

    margin-right: 75%;
    padding: 20px;
    background: #cccccc;
}
#colum2 {
    float: left;
    width: 220px;
    margin-left: 75%;
    padding: 20px;
    background: #cccccc;
    margin-top: -6%
}



article {
    background-color: #494A4A    ;
    color: white;
    border: 1px solid #999999;
    padding: 50px;
    width: 190%
}
#pie {
    clear: both;
    text-align: center;
    border-top: 2px solid #999999;
}


