* {
    margin: 0px;
    padding: 0px;
}

header, section, footer, aside, nav, article {
    display: block;
}
#cabeza {
    background: #A9DFBF;
    padding: 30px;
    padding-bottom: 50px
    
}
#cabeza img{
    float: left;
    margin-left: 5px;
    margin-right: 50px;
   
}
#cabeza h1{
    color:#C0392B  
}
#cabeza p{
    color: #17A589;
    margin-top: 10px
}

#menu {
    background: #5DADE2;
    
}

 #menu li {
    display: inline-block;
    list-style: none;
    padding: 15px;
    border-right: 2px solid #1F618D 

}
body{
    background-color: #FCF3CF
}

article {
    background-color: #EDBB99;
     margin-top: 50px;
    margin-right: 400px;
     margin-left: 50px
}
    article div{
        border-radius: 20px 20px 20px 20px;
            
            height: 350px;
        background-color: #DC7633
        
    }
article header {
    background-color: #E59866;
    padding: 10px;
    color: #2980B9
}
  article h1{
    padding: 20px 0PX 20px 0px;
    font-size: 30px;
    color: #2980B9
  }
  #columna {
    float: left;
    width: 100px;
   
    padding: 20px;
    background: #cccccc;
}
#divp{
    margin-top: 30px
}
